
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.container{
  width: 100%;
  height: 100%;
  background: #EAE7DC;
}
.menu ul{
  display: inline-flex;
  margin: 50px;
}
.menu ul li{
  list-style: none;
  margin: 0 20px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.logo img{
  width: 50px;
  margin-top: -7px;
  margin-right: 38px;

}
.active{
  color: #E85A4F !important;
}
.banner{
  width: 80%;
  height: 70%;
  top: 15%;
  left: 130px;
  position: fixed;
  color: black;
}
.info-text{
  width: 70%;
}
.info-container{
  width: 900px;
  height: 700px;
  background: white;

}
